<section
  class="about d-flex flex-column justify-content-center align-items-center"
>
  <app-line
    [heading]="'About Component'"
    [color]="'text-light'"
    [lineBgColor]="'bg-light'"
    [customIcon]="iconStar"
  ></app-line>

  <div class="container p-4 text-light">
    <div class="row">
      <div class="col-md-6 p-2">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </div>
      <div class="col-md-6 p-2">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </div>
    </div>
  </div>
</section>
