<section class="home p-5">
  <picture
    class="home__img-box d-flex justify-content-center align-items-center p-5"
  >
    <img
      class="home__img"
      src="assets/hero.svg"
      alt="Happy freelancer avatar"
    />
  </picture>
  <app-line
    [heading]="'Start Framework'"
    [color]="'text-light'"
    [lineBgColor]="'bg-light'"
    [customIcon]="iconStar"
  ></app-line>
  <h6 class="text-light text-center">
    <span>Graphic Artist - </span>
    <span>Web Designer - </span>
    <span>Illustrator</span>
  </h6>
</section>
